<div id="login-page" class="row contenedor">
    <div class="col s5 z-depth-4 card-panel">
      <form class="login-form" ng-submit="loguear()">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="assets/img/logo2.png" width="150" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">Material Design Admin Template</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="username" type="text" ng-model="Usuario.email">
            <label for="email">Correo</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password" ng-model="Usuario.password">
            <label for="password">Contraseña</label>
          </div>
        </div>
        
        <div class="row">
          <div class="input-field col s12">
            <button type="submit" class="btn waves-effect waves-light col s12">
              Login
            </button>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="page-register.html">Registrar!</a></p>
          </div>    
        </div>

      </form>
    </div>
  </div>